@define-color blue #95ebeb;
@define-color red #ffb5b5;
@define-color green #acf7d2;
@define-color yellow #fff198;
@define-color gray_1 #1b1b1b;
@define-color gray_2 #262626;
@define-color gray_3 #303030;
@define-color neutral_0 #000000;
@define-color neutral_1 #1b1b1b;
@define-color neutral_2 #303030;
@define-color neutral_3 #474747;
@define-color text #e7e7e7;
@define-color background #28303f;
@define-color accent_blue #63b0ef;
@define-color accent_red #fda1a0;
@define-color accent_green #92cf9c;
@define-color accent_yellow #f7e065;
@define-color accent_orange #ffad00;
@define-color accent_purple #e79cff;
@define-color accent_pink #ff9cbc;
@define-color accent_indigo #a1c0eb;
@define-color tray_bg #812fb4;

window {
    background-color: @background;
}

#box-outer {
    background-color: @accent_yellow;
}

#box-inner {
    background-color: @background;
    border-radius: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: @accent_yellow;
    padding: 10px;
}
