@define-color blue #95ebeb;
@define-color red #ffb5b5;
@define-color green #acf7d2;
@define-color yellow #fff198;
@define-color gray_1 #1b1b1b;
@define-color gray_2 #262626;
@define-color gray_3 #303030;
@define-color neutral_0 #000000;
@define-color neutral_1 #1b1b1b;
@define-color neutral_2 #303030;
@define-color neutral_3 #474747;
@define-color text #e7e7e7;
@define-color background #28303f;
@define-color accent_blue #63b0ef;
@define-color accent_red #fda1a0;
@define-color accent_green #92cf9c;
@define-color accent_yellow #f7e065;
@define-color accent_orange #ffad00;
@define-color accent_purple #e79cff;
@define-color accent_pink #ff9cbc;
@define-color accent_indigo #a1c0eb;
@define-color tray_bg #812fb4;

* {
  border: none;
  border-radius: 0;
  font-family: "VictorMono Nerd Font", sans-serif;
  font-size: 14px;
}

window#waybar {
  background-color: @background;
  color: @text;
  transition-property: background-color;
  transition-duration: 0.3s;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
  padding: 2px 4px;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @text;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @text;
  margin: 0;
}

#workspaces button:hover {
  background: @gray_2;
  box-shadow: inherit;
}

#workspaces button.focused {
  box-shadow: inset 0 -2px @accent_blue;
  color: @accent_blue;
  font-weight: 900;
}

#workspaces button.urgent {
  background-color: @red;
  color: @neutral_0;
}

#mode {
  background-color: #64727D;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces,
#mode,
#mpd,
#clock,
#idle_inhibitor,
#power-profiles-daemon,
#pulseaudio,
#network,
#backlight,
#custom-uptime,
#battery,
#tray,
#custom-media {
  padding: 0 10px;
  margin: 0 2px;
  background-color: transparent;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
}

tooltip {
  background-color: @gray_2;
  border-radius: 8px;
  padding: 18px 22px;
  font-size: 14px;
  min-width: 260px;
  color: #ffffff;
  font-weight: bold;
}

#battery {
  color: #ffffff;
  font-weight: bold;
}

#battery.charging,
#battery.plugged {
  color: #ffffff;
  font-weight: bold;
}

#battery.warning:not(.charging) {
  color: #ffffff;
  font-weight: bold;
}

#battery.critical:not(.charging) {
  color: #ffffff;
  font-weight: bold;
}

#custom-uptime {
  color: #ffffff;
  font-weight: bold;
}

@keyframes blink {
  to {
    background-color: transparent;
    color: #ffffff;
  }
}


#power-profiles-daemon.performance {
  color: @accent_red;
  font-weight: bold;
}

#power-profiles-daemon.balanced {
  color: @accent_blue;
  font-weight: bold;
}

#power-profiles-daemon.power-saver {
  color: @accent_green;
  font-weight: bold;
}


#backlight {
  color: #ffffff;
  font-weight: bold;
}

#network {
  color: #ffffff;
  font-weight: bold;
}

#network.disconnected {
  color: #ffffff;
  font-weight: bold;
}

#pulseaudio {
  color: #ffffff;
  font-weight: bold;
}

#pulseaudio.muted {
  color: @red;
  font-weight: bold;
}
#tray {
  background-color: @tray_bg;
  padding: 2px 6px;
  margin: 4px 6px;
  border-radius: 6px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: transparent;
  color: @text;
}

#idle_inhibitor {
  color: @text;
	font-weight: bold;
}

#idle_inhibitor.activated {
  color: @red;
	font-weight: bold;
}

#custom-notifications.notification {
    color: #f38ba8;
}

#custom-notifications.none {
    color: #a6adc8;
}

#custom-notifications.dnd-notification {
    color: #fab387;
}

#custom-notifications.dnd-none {
    color: #6c7086;
}
